.message {
  display: none;
}

.message.active {
  background-color: var(--degraded-dark);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: -webkit-fill-available;
}

.children-message {
  background-color: white;

  border-radius: 12px;
  padding: 24px 32px;
}
