@media screen and (max-width: 640px) {
	#header {
		width: 100%;
	}

	.header-left {
		flex-direction: column;

		img {
			width: 40%;
		}
		.search {
			width: 75%;
			display: flex;

			input {
				width: 100%;
			}
		}
	}
}
