:root {
    --degraded-white: #ffffff10;

    --gray: #BDBDBD;
    --degraded-gray: #BDBDBD80;
    
    --green: #3DB46D;
    --light-green: #47d480;
    
    --red: #EB5757;
    --light-red: #ff5e5e;
}