:root {
  --degraded-white: #ffffff10;

  --gray: #bdbdbd;
  --dark-gray: #4f4f4f;
  --degraded-gray: #bdbdbd80;

  --degraded-dark: #00000010;

  --green: #3db46d;
  --light-green: #47d480;

  --red: #eb5757;
  --light-red: #ff5e5e;
}
