@import '../../styles/pages/Home/Home.desktop';
@import '../../styles/pages/Home/Home.mobile';
@import '../../styles/pages/Home/Home.tablet';

#home {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 75.76px;

	height: -webkit-fill-available;
}
