@import '../../styles/layouts/Header/Header.desktop';
@import '../../styles/layouts/Header/Header.mobile';
@import '../../styles/layouts/Header/Header.tablet';

#header {
	display: flex;
	justify-content: space-between;

	width: -webkit-fill-available;
}

.header-left {
	display: flex;
}
